<!-- Author: Ondrej Deingruber -->
<launch>
    <node name="imu_filter" pkg="imu_filter_madgwick" type="imu_filter_node" ns="fit_bot">
        <param name="gain" value="0.1" />
        <param name="zeta" value="0.0" />
        <param name="mag_bias_x" value="0.0" />
        <param name="mag_bias_y" value="0.0" />
        <param name="mag_bias_z" value="0.0" />
        <param name="orientation_stddev" value="0.0" />
        <param name="world_frame" value="enu" />
        <param name="use_mag" value="true" />
        <param name="use_magnetic_field_msg" value="false" />
        <param name="fixed_frame" value="odom" />
        <param name="publish_tf" value="false" />
        <param name="reverse_tf" value="false" />
        <param name="constant_dt" value="0.0" />
        <param name="publish_debug_topics" value="false" />
        <param name="stateless" value="false" />
        <param name="remove_gravity_vector" value="false" />
    </node>
</launch>